@import "../../bower_components/susy/sass/susy";
$susy: (
  columns: 18,
  container: 100%,
  gutter-position: split,
  global-box-sizing: border-box,
  gutters: 0
  );


  * {
      box-sizing: border-box;
  }

#about-wrapper{
  @include container;
  @include span(18 of 18);

}

.about-header{
  @include span(18 of 18);
  min-height: 100vh;
  position:relative;
  background: url("../images/macbook.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // margin-bottom: 9em;
}

.about-cover{
  @include span(18 of 18);
  min-height: 100vh;
  position:relative;
  background: rgba(181, 173, 173, 0.74);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-main{
  h1{
    @include span(6 of 18);

    font-family: 'Raleway';
    position: absolute;
    display: block;
    width: 45%;
    font-size: 1.4em;
    margin: 7% 0 0em 6%;
    background: rgba(218, 215, 215, 0.4);
    border-radius: 1%;
    height: 51%;
    padding: 1.3%;
  }
  img{
    @include span(6 of 18);
    position: absolute;
    height: 30em;
    margin-left: -42%;
    margin-top: 5%;
    border-radius: 2%;
    -webkit-box-shadow: 0px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -4px rgba(0,0,0,0.75);
  }
}

.arrow{
  font-size: 1em;
  color: #dad7d7;
  position: absolute;
  left: -1.8em;
  top: 1.1em;
}

.contact-about {
  @include span(18 of 18);
  font-size: 3.5em;
  color: #dad7d7;
  position: absolute;
  display: inline-block;
  margin-top: 50%;
  margin-left: -42%;
  width: 29%;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
  text-decoration: none;

  .fa{

      color:#dad7d7;
      cursor: pointer;
      &:hover{
      color: #81D6E3;
    }
  }
  p{
    font-family: 'Raleway', sans-serif;
    font-size: .4em;
    position: relative;
    margin-top: 0.44%;
    margin-left: -2.2%;
    animation-play-state: paused;
    width: 5em;
    line-height: 1.4;
    &:hover{
      color: #81D6E3;
      -webkit-animation-duration: 1.5s;
      // -webkit-animation-delay: 1.5s;
      animation-play-state: running;

    }
  }
  a{
    color:#dad7d7;
    text-decoration: none;
  }
}


.divider-2-about{
  height: .01em;
  background: #dad7d7;
  position: absolute;
  margin-top: 0.5%;
  width: 2em;
  margin-left: -4.5%;
}
