@import "../../bower_components/susy/sass/susy";
$susy: (
  columns: 18,
  container: 100%,
  gutter-position: split,
  global-box-sizing: border-box,
  gutters: 0
  );


  * {
      box-sizing: border-box;
  }

  #pf-wrapper{
    @include container;
    @include span(18 of 18);

}

  .pf-header{
    @include span(18 of 18);
    min-height: 100vh;
    position:absolute;
    background: url("../images/macbook.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // margin-bottom: 9em;
  }

  .pf-cover{
    @include span(18 of 18);
    min-height: 100vh;
    position:relative;
    background: rgba(181, 173, 173, 0.74);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .project1{
    img{
      position: absolute;
      display: block;
      height: 18em;
      margin: 2em 0em 0em 10em;
      -webkit-box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
    }
    p{
      position: absolute;
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      width: 30em;
      margin: 2em 0em 0em 19em;
      height: 9.4em;
      background: rgba(218, 215, 215, 0.4);
      padding: 1.3em;
      border-radius: 1%;

    }
    h1{
      position:absolute;
      font-family: 'Raleway', sans-serif;
      font-size: 0.9em;
      margin: 13em 0em 0em 29.2em;
    }
  }

  .project2{
    img{
      position: absolute;
      display: block;
      height: 18em;
      margin: 23em 0em 0em 10em;
      -webkit-box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 38px -4px rgba(0, 0, 0, 0.75);
    }
    p{
      position: absolute;
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      width: 30em;
      margin: 18em 0em 0em 19em;
      height: 12.3em;
      background: rgba(218, 215, 215, 0.4);
      padding: 1.3em;
      border-radius: 1%;

    }
    h1{
      position:absolute;
      font-family: 'Raleway', sans-serif;
      font-size: 0.9em;
      margin: 41em 0em 0em 29.2em;
    }
  }



  .contact-pf {
    @include span(18 of 18);
    font-size: 3.5em;
    color: #dad7d7;
    position: absolute;
    display: block;
    margin-top: 12.3em;
    margin-left: 18em;
    width: 4em;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1.5s;
    text-decoration: none;

    .fa{
        color:#dad7d7;
        cursor: pointer;
    }
    p{
      font-family: 'Raleway', sans-serif;
      font-size: .4em;
      position: relative;
      margin-top: 0.4em;
      margin-left: -0.2em;
      animation-play-state: paused;
      width: 5em;
      &:hover{

        -webkit-animation-duration: 1.5s;
        // -webkit-animation-delay: 1.5s;
        animation-play-state: running;

      }
    }
    a{
      color:#dad7d7;
      text-decoration: none;
    }
  }
